.flash-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
}

.flash-card h1 {
  display: block;
  max-width: 75%;
}

.flash-card h3 {
  display: block;
  max-width: 75%;
  font-weight: normal;
}