.flash-card-nav {
  padding: .8rem;
  display: flex;
  justify-content: space-between;
}

.toggle-answer {
  font-size: 1.3rem;
}

.previous, .next {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  color: #565656;
  font-size: 1.2rem;
}

.previous img {
  transform: rotate(90deg);
}

.next img {
  transform: rotate(-90deg);
}

.flash-card-nav button {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
}